@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="game"></div>

@section Scripts{
    @*<script src="~/js/chat.js"></script>
        <script src="~/js/contract.js"></script>
        <script src="~/lib/signalr/signalr.js"></script>*@

    <script src="~/lib/phaser/phaser.min.js"></script>
    <script src="~/lib/phaser/phaser-input.js"></script>
    <script src="~/js/game/States/titleState.js"></script>
    <script src="~/js/game/States/queueState.js"></script>
    <script src="~/js/game/States/gameState.js"></script>
    <script src="~/js/game/game.js"></script>
}